- form_target = get_url(@show_route, @resource.id, @engine)
- index       = get_url(@index_route, @engine)
= render partial: 'faalis/dashboard/resource/form', locals: { index: index, form_target: form_target}
