<div>
  <!-- TODO: Find out why disable-timepicker and timepicker does not work together -->
  <div ng-if="timepicker">
    <quick-datepicker disable-timepicker="true" id="{{ element_id }}" ng-model="model" class="{{cssClasses}}" ng-required="required" name="{{ field }}" placeholder="{{ 'Click to pick a date' | translate }}" />
  </div>
  <div ng-if="!timepicker">
    <quick-datepicker  id="{{ element_id }}" ng-model="model" class="{{cssClasses}}" ng-required="required" name="{{ field }}" placeholder="{{ 'Click to pick a date' | translate }}" />
  </div>
  <small id="{{ msg_element_id }}"></small>
</div>
