<div class="timeSelectorDirective" >
  <div class="section hours">
    <div class="increase" ng-click="increaseHours()">
      <i class="icon fa fa-caret-up"></i>
    </div>
    <div class="display">
      <input type="text" value="{{displayHours()}}">
    </div>
    <div class="decrease" ng-click="decreaseHours()">
      <i class="icon fa fa-caret-down"></i>
    </div>
  </div>
  <div class="section minutes">
    <div class="increase" ng-click="increaseMinutes()">
      <i class="icon fa fa-caret-up"></i>
    </div>
    <div class="display">
      <input type="text" value="{{displayMinutes()}}">
    </div>
    <div class="decrease" ng-click="decreaseMinutes()">
      <i class="icon fa fa-caret-down">
      </i>
    </div>
  </div>
</div>
