@import "red_base/dashboard/ltr/foundation_and_overrides";

.float-right {
  float: right !important;
}
.float-left {
    float: left !important;
}

.text-right {
    text-align: right !important;
}
.text-left {
    text-align: left !important;
}
