//= require admin_lte/rtl/admin_lte
//= require formtastic-bootstrap
//= require faalis/dashboard/share
//= require_self
.fa {
   padding-left: 0.4em;
}

.user-image {
  display: inline !important;
}
.user-name-span {
  width: 100%;
  display: inline !important;
}
.dropdown.user.user-menu {
  width: auto;
}
