@import "red_base/dashboard/rtl/foundation_and_overrides";
@import "red_base/variables";

.float-right {
  float: left !important;
}
.float-left {
    float: right !important;
}

.text-right {
    text-align: left !important;
}
.text-left {
    text-align: right !important;
}

.append {
  @include prefix-postfix-base;
  @include prefix;
  @include grid-column($columns:3,$float:left);
  border-radius: $border-radius 0 0 $border-radius !important;
  text-align: center;
  i {
    color: gray;
  }
}

input[type="search"].append, input[type="text"].append {
  text-align: right;
  @include grid-column($columns:9);
  border-radius: 0 $border-radius $border-radius 0 !important;
    border-color: lightgray;
  &:focus {
    border-color: lightgray;
  }
}
