<div class="row  clearmargin">
  <div class="small-6 column text-left clearpadding">
  <h4><i class="fa fa-group"></i> <%= _("Users") %></h4>
  </div>
</div>

{{list-view model=model title_field="email" delete_items="delete_items" details_template="users/details" items_per_page=5}}
