<div id="content" class="">
  <header>
    {{ render "navigation" }}
  </header>

  <section class="dashboard-body">
    <div class="row">
      <aside class="modulebar small-2 columns">
        {{ render "modules"}}
      </aside>
      <section class="small-10 columns dashboard-content">

        <div class="row content">
          <div id="flash" class="row success">
            <div class="small-12 columns">
            </div>
          </div>
        </div>

        <div class="row seach-bar">
          <div class="small-4 columns text-right right">
            <div class="row collapse">
              <div class="small-10 columns ">
                <input type="search"  placeholder="search ..."/>
              </div>
              <div class="small-2 columns">
                <input type="submit" class=" prefix button" /><i class="fa fa-search"></i></button>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="row content">
      {{ outlet }}
    </div>

    </section>

</div>
</section>
</div>
