<header>
  {{ render "navigation" }}
</header>

<section class="dashboard-body">

  <div class="row">
    <aside class="modulebar small-2 columns">
      {{ render "modules"}}
    </aside>
    <section class="small-10 columns dashboard-content">

      <div class="row">
      <div id="flash" class="row success">
        <div class="small-12 columns">

          asd asdjkadmnklj asdjsdk

        </div>
      </div>

        {{ outlet }}
      </div>

    </section>

  </div>
</section>
