<div id="content" class="">
  <header>
    {{ render "navigation" }}
  </header>

  <section class="dashboard-body">
    <div class="row">
      <aside class="modulebar small-2 columns">
        {{ render "modules"}}
      </aside>

      <section class="small-10 columns dashboard-content">

        <div class="row content">
          <div id="flash" class="row success">
            <div class="small-12 columns">
            </div>
          </div>
        </div>

        <div class="row search-bar">
          <div class="small-5 columns text-right float-right">
            <div class="row collapse">
<<<<<<< HEAD
              <div class="small-10 columns ">
                <input type="search"  placeholder="search ..."/>
              </div>
              <div class="small-2 columns">
                <button type="submit" class="prefix button" value=""/><i class="fa fa-search"></i></button>
=======
              <div class="small-12 columns ">
                <input type="search" class="append" placeholder="search ..."/>
                <span class="append radius"><i class="fa fa-search"></i></span>
>>>>>>> 61d8144e71377f26930f4178de693329c49dd799
              </div>
            </div>
          </div>
        </div>


        <div class="row content">
          {{ outlet }}
        </div>

      </section>

    </div>
  </section>
</div>
