<ul>
  <li>{{# link-to 'index' }}<i class="fa fa-dashboard"></i> <%= _("Dashboard") %>{{/link-to}}</li>
  {{#each}}
  <li {{bind-attr data-resource=resource }}>{{# link-to resource }} <i {{bind-attr class=icon }}></i> {{ title }}{{/link-to}}</li>
  {{/each}}
</ul>

<div class="brand">
  <h1><%= RedBase::Engine.site_title %></h1>
  <span><%= _("Some slug") %></span>
</div>
