<div class="topheader">
  <div class="row clearpadding">
    <nav class="columns small-6">
      <ul>
        <li><a href="#"><i class="fa-cog fa icon-medium fa-fw fa-2x"></i></a></li><li class="brand"><h1><%= RedBase::Engine.site_title %></h1></li><li><a href="http://ww.c.c">Sample</i></a></li>
      </ul>
    </nav>
    <nav class="columns small-6 text-right">
      <ul class="columns small-12">
        <li>{{ current_user.email }}</li>
      </ul>
    </nav>
  </div>
</div>
