<div class="">
  <div class="">
    <nav class="clearpadding top-bar">
      <section class="top-bar-section">
      <ul class="title-area">
        <li><a href="#"><i class="fa-cog fa icon-medium fa-2x"></i></a></li>
        <!-- Title Area -->
        <li class="name brand">
          <h1><%= RedBase::Engine.site_title %></h1>

        </li>
        <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>

</section>
      <section class="top-bar-section">
        <ul class="right">

            <li><a href="#">EN</a></li>

            <li><a href="#">Esdaas zxc</a></li>

            <li><a href="#">EzxcN</a></li>
            <li><a href="#">EzxcN</a></li>
          <li class="has-dropdown"><a href="#">{{ current_user.first_name }} {{ current_user.last_name }}</a>
          <ul class="dropdown">
            <li><a href="">Dashboard</a></li>
            <li><a href="">Change Password</a></li>
            <li><a href="">Sign Out</a></li>
          </ul>
          </li>
        </ul>
</section>

</nav>
</div>
</div>
