<div id="content" class="">
  <header>
    <div ng-include="'<%= @jstemplates_path %>/nav.html'">
    </div>
  </header>

  <section class="dashboard-body">
    <div class="row">

      <aside class="modulebar small-2 columns">
        <div ng-include="'<%= @jstemplates_path %>/modules.html'">
        </div>
      </aside>

      <section class="small-10 columns dashboard-content">

        <div class="row content">
          <div id="flash" class="row success">
            <div class="small-12 columns">
            </div>
          </div>
        </div>

        <div class="row search-bar">

        </div>


        <div class="row content">
          <div ui-view></div>
        </div>

      </section>

    </div>
  </section>
</div>
