<br /><br /><br />
<div class="row"><div class="small-8 columns small-offset-2 text-center">
    <h4><%= _("You need to login to use dashboard.") %></h4>
    <a href="/<%= Faalis::Engine.dashboard_namespace %>/?signin" class="btn medium blue"> <i class="fa fa-sign-in"></i> <%= _("Sign in")%></a>
</div></div>
