
<div class="row  clearmargin">
  <div class="small-6 column text-left clearpadding">
  <h3><i class="fa fa-group"></i> <%= _("Users") %></h3>
  </div>
</div>

{{ outlet }}

{{list-view model=model title_field="email" delete_items="delete_items" details_template="auth/users/details" items_per_page=10}}
