<div class="newform">
  <form novalidate name="form">
  <fieldset class="form">

    <legend translate>New User</legend>

    <div class="row">
      <div class="small-4 columns">
        <label for="first_name" translate>First Name :</label>
        <input  id="id_first_name" type="text" name="first_name"  required ng-model="first_name">
        <small id="id_first_name_msg"></small>
      </div>

      <div class="small-4 columns float-left small-offset-2">
        <label for="last_name" translate>Last Name :</label>
        <input  id="id_last_name" type="text" name="last_name"  required ng-model="last_name">
        <small id="id_last_name_msg"></small>

      </div>
    </div>
    <div class="row">
      <div class="small-4 columns">
        <label for="password" translate>Password :</label>
        <input  id="id_password" type="password" name="password" required ng-model="password">
        <small id="id_password_msg"></small>

      </div>

      <div class="small-4 columns float-left small-offset-2">
        <label for="email" translate>E-mail :</label>
        <input  id="id_email" type="email" name="email" required ng-model="email">
        <small id="id_email_msg"></small>

      </div>
    </div>
    <div class="row">
      <div class="small-4 columns">
        <label for="group" translate>Group :</label>
        <select  id="id_group" name="group" required ng-model="group">
          <option  ng-repeat="item in groups" value="{{item.id}}" ng-select="item.id === group">{{item.name}}</option>
        </select>
        <small id="id_group_msg"></small>

      </div>

    </div>

  </fieldset>

  <div class="row">
    <div class="small-4 columns">
      <button ng-click="save()" class="btn small green" ng-disabled="form.$invalid || !form.$dirty"><i class="fa fa-check"></i> <span translate>Save</span></button>
      <button ng-click="cancel()" class="btn small red"><i class="fa fa-times"></i> <span translate>Cancel</span></button>
    </div>
  </div>
</form>
</div>
