<div class="topheader">
  <div class="row full">
    <nav class="columns small-6">
      <ul>
        <li><a href="#"><i class="icon-align-justify icon-large"></i></a></li>
        <li class="brand"><h1><%= RedBase::Engine.site_title %></h1></li>
      </ul>
    </nav>
    <nav class="columns small-6 text-right">
      <ul class="columns small-12">
        <li><%= current_user.email %></li>
      </ul>
    </nav>
  </div>
</div>
