<ul>
  <li><i class="icon-user"></i> some text</li>
  <li><i class="icon-user"></i> some text</li>
  <li><i class="icon-user"></i> some text</li>
  <li class="active"><i class="icon-user"></i> some text</li>
  <li><i class="icon-user"></i> some text</li>
</ul>

<div class="brand">
  <h1><%= RedBase::Engine.site_title %></h1>
  <span><%= _("Some slug") %></span>
</div>
