<ul>
  <li><a href="#"><i class="icon-user"></i> some text</a></li>
  <li class="active"><a href="#"><i class="icon-user"></i> some text</a></li>
  <li><a href="#"><i class="icon-user"></i> some text</a></li>
  <li><a href="#"><i class="icon-user"></i> some text</a></li>
</ul>
