<div id="content" class="">
  <header>
    <div ng-include="'<%= @jstemplates_path %>/nav.html'">
    </div>
  </header>

  <section class="dashboard-body">
    <div class="row">

      <aside class="modulebar small-2 columns">
        <div ng-include="'<%= @jstemplates_path %>/modules.html'">
        </div>
      </aside>

      <section class="small-10 columns dashboard-content">

        <div class="row content">
          <div id="flash" class="row success">
            <div class="small-12 columns">
            </div>
          </div>
        </div>

        <div class="row search-bar">
          <div class="small-5 columns text-right float-right">
            <div class="row collapse">

              <div class="small-12 columns ">
                <input type="search" class="append" placeholder="search ..."/>
                <span class="append radius"><i class="fa fa-search"></i></span>
              </div>
            </div>
          </div>
        </div>


        <div class="row content">
          <div ng-view></div>
        </div>

      </section>

    </div>
  </section>
</div>
