<script type="text/x-handlebars">
  <header>
    {{ outlet nav }}
  </header>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <section class="dashboard-body">

    <div class="row">
      {{ outlet }}
    </div>
  </section>
</script>

<script type="text/x-handlebars" data-template-name="index">
  <aside class="modulebar small-2 columns">
    {{ outlet sidebar }}
  </aside>
  <section class="small-10 columns">

    <div class="row">
      sss
      {{ outlet content }}
    </div>

  </section>
</script>

<script type="text/x-handlebars" data-template-name="modules">
asdasdlaskdm
{{#each}}
<p>{{ title }}</p>
{{/each}}
</script>
