<div ng-controller="NavigationController as controller">
  <div class="row">

    <ul class="small-6 columns">
      <li><h1 translate>Dashboard</h1></li>
      <li>
        <div class="search">
          <input type="search" class="" placeholder="Search ..."/>
        </div>
      </li>

    </ul>
    <nav class="small-6 columns text-right">
      <ul>
      <li>
        <div class="hide loading">
          <i class="fa fa-spin fa-refresh"></i>
        </div>
      </li>

        <li ng-repeat="menu_item in controller.menu_items" title="{{ menu_item.title }}" ng-class="{selected: menu_item.is_active}" ng-click="controller.on_click(menu_item)" class="float-right"><span><i class="{{ menu_item.icon }}"></i></span></li>
      </ul>
    </nav>
  </div>
  <div class="subnav" id="subnav" ng-if="controller.menu_clicked">
    <ul>
      <li ng-repeat="item in controller.submenu_items">
        <a ng-if="!item.method" ng-href="{{ item.url }}">
          <i class="{{ item.icon }}"></i> {{ item.title }}
        </a>
        <a ng-if="item.method" data-method="{{ item.method }}" ng-href="{{ item.url }}">
          <i class="{{ item.icon }}"></i> {{ item.title }}
        </a>

      </li>
    </ul>
  </div>
</div>
