@import "red_base/variables";
@import "red_base/mixins";

.row {
   width: 100% !important;
   max-width: 100%;
}
body {
   background: $dashboard-background;
}

.full {
   width: 100% !important;
   max-width: 100% !important;
}

header {
  background: white;
  border-bottom: 1px solid $orange;
  position: fixed;
  z-index: 1000;
  height: $header-height;
  width: 100%;
  ul {
    list-style: none;

    li {
      display: inline;
      h1 {
        font-size: 1.5em;
        display: inline-block;
        font-weight: 300;
        color: $darkgray;
      }
      .search {
        display: inline-block;
        padding: 0 10px;
        input {
          display: inline-block;
          border-radius: 4px;
          border-color: $lightergray;
          box-shadow: none;
          padding: 0 0.5em;
        }
      }
    }
  }

  nav {
    ul {
      li {
        display: inline-block;
        padding: (($header-height / 4) - 3px) 20px 0 ;
        height: $header-height;
        margin: 0 5px;

        &:hover {
          border-bottom: 5px solid $alizarin;
        }
        span {
          vertical-align: middle;
          color: $darkgray;
          cursor:pointer;
          font-size: 1.2em;
        }

      }
    }
  }

  .subnav {
    background: $alizarin;
    position: fixed;
    top: $header-height;
    padding: 10px 20px;
    border-radius: 0 0 5px 5px;
    min-width: 100px;
    color: white;
    ul li {
      padding: 4px 10px;
      a {
        color: lighten($lightergray, 5%);
        text-shadow: 0 1px 1px $darkgray;
        &:hover {
          color: white;
        }
      }
    }
  }
}


ul{
   margin-bottom:0px !important;
   margin-bottom:0;
}


.dashboard-content {
   .content {
      padding: 10px 20px 0;
   }
   h1, h2, h3, h4, h5 {
      color: $darkergray;
   }

}


.widget {
   -webkit-box-shadow: 0px 1px 1px rgba(48, 50, 50, 0.2);
   -moz-box-shadow:    0px 1px 1px rgba(48, 50, 50, 0.2);
   box-shadow:         0px 1px 1px rgba(48, 50, 50, 0.2);
   @include box-shadow (0px 1px 1px rgba(48, 50, 50, 0.2));
   min-height:6em;
   //margin: 5px;
   padding: 10px;
   border-radius: 3px;
   border-bottom:solid 10px #FFFFFF;
   .text-center {
      vertical-align: middle;
      min-height:100%;
      padding-top:2em;
      .icon {
         display: block;
      }

   }
  &.whitewidget {
    background: white;
  }
}

fieldset {
  label {
    padding: 0px 0px 5px 0px;
  }
  .permissions {
    margin: 0 10px;

    .field {
      height: 16em;
      border: 1px solid $lightergray;
      color: $darkgray;

      padding: 5px 10px;
      overflow-y: auto;
      ul {
        list-style: none;
        li {
          cursor: pointer;
          i.green-text {
            color: $emerald;
          }
        }
      }
    }
  }
}

.dashboard-body {
  padding-top: $header-height + 20px;
}

.buttons-header {
  span {
    margin: 5px 5px 5px;
  }
}

.input-error {
  border-color: $alizarin !important;
}

// Tabs --------------------------------------------------------
@mixin active-tab ($color){
  border-bottom: $tab-bottom-border solid $color;
}

.tabs {
  width: 100%;
  background: #fff;
  border-radius: 4px;
  border: 1px solid $lightergray;
  border-bottom: $tab-bottom-border solid $lightgray;
  padding: 0 10px;
  font-size: 14px;
  height: $tabs-height;
  color: $lightergray;
  ul {
    list-style: none;

    li {
      color: $darkgray;
      display: inline-block;
      position: relative;
      padding: 10px 20px;
      cursor: pointer;
      height: $tabs-height - 1px;

      &.active {
        &.tab1{
          @include active-tab($emerald);
        }
        &.tab2{
          @include active-tab($alizarin);
        }
        &.tab3{
          @include active-tab($peter_river);
        }
        &.tab4{
          @include active-tab($orange);
        }

      }
    }
  }
}


.filter_box {
  fieldset {
    background: $peter_river;
    border-color: darken($peter_river, 5%);
  }
}
