/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
@import "red_base/variables";

.row {
  width: 100% !important;
  max-width: 100%;
}
body {
   background: $dashboard-background;
}

.full {
   width: 100% !important;
   max-width: 100% !important;
}

header {
   nav {
    Background: $dashboard-nav-background;
    box-shadow: 0 -5px 10px rgba(40, 40, 40, 1) inset;
    li {
      height:60px;
    border-left: 1px solid $darkgray;
    border-right: 1px solid $darkergray;
      a{
        height:4.5em;
        }
      &.brand {
        background: lighten($dashboard-nav-hover, 5%);
          padding-left:2em;
            padding-right:2em;
              h1{
                color:#FFFFFF;
            }
        }
      }
   }
   .modulebar {
      margin-top: 20px;
   }
}


ul{
  margin-bottom:0px !important;
  margin-bottom:0;
}


.dashboard-content {
  & > .row {
    padding: 0 20px;
  }
  h1, h2, h3, h4, h5 {
    color: $darkergray;
  }

}


.top-bar-section li a:not(.button):hover {
    background: lighten($dashboard-nav-hover, 5%) !important;
}
