// Place all the styles related to the registrations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Authentication sccs */

.wrapper_signin{
    background: url('/images/bg1.jpg') no-repeat top left;
}

.wrapper_signup{
    background: url('/images/bg2.jpg') no-repeat top left;
}

.layout_signin, .layout_signup{
    background-color:rgba(white, 0.7);

    .big_box {
       text-align:center;
       p{
          text-align:justify;
       }
    }

    .icon-big{
       float:right;
       padding-left:7px;
       padding-top:-7px;
    }

   .form{
      margin-top:35px;
   }
}
