/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

body{
   background-color:red;
}

.btn-big {
  div{
    strong{
       color:#FFFFFF;
    }
  }
  color:#FFFFFF
}
