@mixin transition ($a) {
   transition: $a;
   -moz-transition: $a;
   -webkit-transition: $a;
   -o-transition: $a;
   -ms-transition: $a;
}

@mixin box-shadow ($a) {
   box-shadow: $a;
   -moz-box-shadow: $a;
   -webkit-box-shadow: $a;
   -o-box-shadow: $a;
   -ms-box-shadowb: $a;
}
