.emerald {
  background: #85ae42; }

.orange {
  Background: #f0ba4b; }

.alizarin {
  Background: #e45760; }

.sun_flower {
  Background: #f0ba4b; }

.peter_river {
  Background: #6da6ba; }

.wisteria {
  Background: #8e44ad; }

.amethyst {
  Background: #9b59b6; }

.pomegranate {
  Background: #c0392b; }

.belize_hole {
  Background: #4e8fa6; }

.nephritis {
  background: #27ae60; }

.color-white h1, .color-white h2, .color-white h3, .color-white h4, .color-white h5, .color-white span, .color-white p {
  color: white; }

.employment {
  background: #27ae60;
  color: white; }

.computer {
  background: #f0ba4b;
  color: white; }

.stock {
  background: #e45760;
  color: white; }
