<div class="newform">
  <fieldset class="form">

  <legend>{{_ 'New Group'}}</legend>

  <div class="row">
    <div class="small-6 columns">
      <label for="name" >{{_ 'Name'}}:</label>
      {{input value=name id="name" type="text" name="name" value=name class="small-8 columns"}}
    </div>
  </div>

  <div class="row">
    <label for="permissions">{{_ "Permissions"}}:</label>

    <div class="small-10 columns permissions">

      <div class="row">
        <div id="permissions" class="small-8 columns field">
          <ul>
            {{#each permission in permissions}}
              <li {{bind-attr id=permission.name class=permission.is_selected:selected}} {{action 'select_permission' permission}}><i {{bind-attr class=":fa :fa-check permission.is_selected:green-text:hide"}}></i> {{ permission.string }} </li>
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
  </div>
  </fieldset>


  <div class="row">
      <div class="small-6 columns">
          <button class="btn small green"><i class="fa fa-check"></i> {{_ "Save"}}</button>
          <button class="btn small red"><i class="fa fa-times"></i> {{_ "Cancel"}}</button>
      </div>
  </div>
</div>
