<div class="newform">
  <form name="from" novalidate>

    <fieldset class="form">

      <legend ng-if="!editing"><span translate>New Group</span></legend>
      <legend ng-if="editing"><span translate>Edit Group</span></legend>

      <div class="row">
        <div class="small-4 columns">
          <label translate>Name :</label>
          <input id="id_name" ng-model="new_name" type="text" required>
          <small id="id_name_msg"></small>
        </div>
      </div>
    </fieldset>

    <fieldset>
      <legend translate>Advance Permissions</legend>
      <div class="row">
        <label for="permissions" translate>Permissions</label>
      </div>

      <div class="small-10 columns permissions">

        <div class="row">
          <div id="id_permissions" class="small-8 columns field">
            <ul>

              <li ng-repeat="permission in permissions" id="{{permission.name}}" ng-click="select_permission(permission)"> <i ng-show="is_selected(permission)" class="fa fa-check"></i> {{ permission.string }} </li>

            </ul>
          </div>
          <small id="id_permissions_msg"></small>
        </div>
      </div>
    </fieldset>

    <div class="row">
      <div class="small-6 columns">
        <button class="btn small green" ng-click="save()" ng-disabled="form.$invalid"><i class="fa fa-check"></i> <span translate>Save</span></button>
        <button class="btn small red" ng-click="cancel()"><i class="fa fa-times"></i><span translate>Cansel</span></button>
      </div>
    </div>
  </form>

</div>
