<div class="row clearmargin">

  <div class="columns large-5 small-offset-1 clearpadding">

    <a href="#/auth/users">
    <div class="widget red">
      <div class="text-center">
        <span class="icon text-4x"><i class="fa fa-user"></i></span>
        <span class="text-2x" translate>Users</span>
      </div>

    </div>
    </a>

  </div>


  <div class="columns large-5 clearpadding">

    <a href="#/auth/groups">
      <div class="widget blue">
        <div class=" text-center">
          <span class="icon text-4x"><i class="fa fa-group"></i></span>
          <span class="text-2x" translate>Groups</span>
        </div>
      </div>
    </a>
  </div>

</div>
