
<div class="row  clearmargin" data-ng-transclude>
</div>


<div class="table-list">
  <ul>
    <li class="table-header">
      <div class="small-6 columns text-left buttons-header">
        <span data-ng-repeat="button in buttons" class="{{ button.classes }}" if-user="has_permission(button)"><a  object-action object="button"><i class="{{ button.icon }}"></i> {{ button.title | translate }}</a></span>
      </div>

      <div class="small-2 columns text-right list-type">
        <span ng-click="grid_view = false; list_view = true" ng-class="{active: list_view == true}"><i class="fa fa-th-list"></i></span>
        <span ng-click="grid_view = true; list_view = false" ng-class="{active: grid_view == true}"><i class="fa fa-table"></i></span>
      </div>
      <div class="small-4 columns text-right search-bar" ng-if="search == true">
        <input type="search" class="append " ng-model="searchterm" placeholder="{{ 'Search' | translate}} ..."/>
        <span class="append radius"><i class="fa fa-search"></i></span>
      </div>

    </li>

    <!-- List view data list -->
    <li ng-if="(get_current_page().length == 0) && (list_view == true)"><span translate>There is no data!</span></li>

    <li ng-repeat="object in get_current_page()" ng-if="list_view == true" ng-class="{'selected': object.is_selected}" class="pointer">
      <i ng-click="toggle_details(object)"  class="{{ handle_icon }} {{ handle_icon_expand(object) }} handle fa "></i>

      <div class="title" ng-click="select_item(object)">
        <!-- <span ng-bind-html="title(object, title_attr)"></span> -->
        {{title(object, title_attr)}}
      </div>

      <div ng-show="should_view(object)" class="details">
        <div ng-include="details_template">
        </div>
      </div>

    </li>

    <!-- Grid view data list -->
    <li ng-if="grid_view == true" class="grid">
      <div class="grid-style" ng-grid="grid_options"></div>
    </li>



    <li class="table-summery">
      <div class="small-6 columns">
        <div class="pagination">
          <span ng-if="has_pagination()">
            <i class="fa {{ first_page_icon }}" ng-click="go_to_first_page()"></i>
            <i class="fa {{ prev_page_icon }}" ng-click="go_to_prev_page()"></i>

            <input type="text" class="pagination_input" ng-model="targetpage" ng-keypress="go_to_page($event, targetpage)" tabindex="3" value="{{current_page()}}"/>

            <i class="fa {{ next_page_icon }}" ng-click="go_to_next_page()"></i>
            <i class="fa {{ last_page_icon }}" ng-click="go_to_last_page()"></i>

            <span class="elabel rounded lightergray" title="{{ 'Current Page' | translate }}"><i class="fa fa-file-o"></i> {{ current_page() }}</span>
            <span class="elabel rounded lightergray" title="{{ 'Total Pages' | translate}}"><i class="fa fa-files-o"></i> {{ total_pages() }}</span>
          </span>

        <span class="elabel rounded lightergray" title="{{ 'Item(s)' | translate }}"><i class="fa fa-list-ul"></i> {{ objects_count() }}</span>
        <span class="elabel rounded lightergray" title="{{ 'Selected' | translate }}"><i class="fa {{ hand_icon }}"></i> {{ selected_count() }}
        </span>
        </div>

    </div>
    <div class="small-6 columns text-right">
      <span class="btn yellow tiny" ng-click="toggle_select()" translate>Toggle Select</span>
      <span class="btn blue tiny"  ng-click="select_all()" ><span ng-if="! is_all_selected">Select All</span><span ng-if="is_all_selected">Deselect All</span></span>
      <span ng-if="can('destroy', permission_model)"  ng-click="delete_items()"><span class="btn red tiny">{{delete_title || "Delete"}}</span></span>

    </div>

  </li>


  </ul>
</div>
