/* Variables of the hole Faalis project */

$loading-indicators-color:  #FD7D00;
$loading-indicators-shadow:  #4FF0A6;
$red: #DD4B39;
$dark_blue: #3C8DBC;
$blue: #00C0EF;
$green: #00A65A;
$orange: #F39C12;
