<div>
  <input id="{{ element_id }}" ng-model="model" name="{{ field }}" ng-required="required" type="text" class="{{cssClasses}}" />
  <div class="row">
    <div class="float-left small-7 column">
      <span class="helptext" ng-if="options.help_text && show_help_text">{{ options.help_text }}</span>
    </div>
    <div class="float-right small-5 column extra_links text-right" ng-if="have(options, 'links')">
      <span ng-click="help_btn_clicked()" ng-if="show_help_btn">
        <i class="fa fa-question"></i>
      </span>
      <span ng-repeat="item in options.links" class="option_item">
        <a class="{{ item.link_class }}" ng-click="item.action()" ng-if="have(item, 'action')">
          <i class="{{ item.icon || '' }}"></i> <span class="btntitle" ng-if="have(item, 'title')"><span translate>{{ item.title }}</span></span>
        </a>
        <a class="{{ item.link_class }}" ng-href="#{{ item.url }}" target="_blank" ng-if="have(item, 'url')">
          <i class="{{ item.icon || '' }}"></i> <span class="btntitle" ng-if="have(item, 'title')"><span translate>{{ item.title }}</span></span>
        </a>
      </span>
    </div>
  </div>
  <small id="{{ msg_element_id }}"></small>
</div>
