
<ul>

  {{#view Dashboard.LinkView route="widgets" content="" classes=""}}<i class="fa fa-dashboard"></i> {{_ 'Dashboard'}}{{/view}}

  {{#each}}
      {{#view Dashboard.LinkView resource=resource route=resource content=""}}<i {{bind-attr class=icon }}></i> {{ title }}{{/view}}
  {{/each}}

</ul>

<div class="brand">
  <h1><%= Faalis::Engine.site_title %></h1>
  <span>{{_ 'Some slug'}}</span>
</div>
