<!DOCTYPE html>
<html>
<head>
  <title>RedBase</title>
  <%= stylesheet_link_tag    "red_base/application", media: "all" %>
  <%= javascript_include_tag "red_base/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
