<div class="form">
  <fieldset class="form">

    <legend id="module_title" translate>New User</legend>

    <div class="row">
      <div class="small-6 columns">
        <label for="first_name" translate>First Name :</label>
        <input  id="first_name" type="text" name="first_name"  class="small-8 columns" required ng-model="first_name" required>
      </div>

      <div class="small-6 columns">
        <label for="last_name" translate>Last Name :</label>
        <input  id="last_name" type="text" name="last_name"  class="small-8 columns" required ng-model="last_name">
      </div>

      <div class="small-6 columns float-left">
        <label for="password" translate>Password :</label>
        <input  id="passwprd" type="password" name="password" class="small-8 columns" required ng-model="password">
      </div>

      <div class="small-6 columns float-left">
        <label for="email" translate>E-mail :</label>
        <input  id="email" type="email" name="email" class="small-8 columns" required ng-model="email">
      </div>

      <div class="small-6 columns float-left">
        <label for="group" translate>Group :</label>
        <select  id="group" name="group" class="small-8 columns" required ng-model="group">
          <option  ng-repeat="item in groups" value="{{item.id}}" ng-select="item.id === group">{{item.name}}</option>
        </select>
      </div>

    </div>

  </fieldset>

  <div class="row">
    <div class="small-6 columns">
      <button ng-click="save()" class="btn small green" ng-disabled="form.first_name.$pristine || form.first_name.$dirty && form.fist_name.$invalid"><i class="fa fa-check"></i> <span translate>Save</span></button>
      <button class="btn small red"><i class="fa fa-times"></i><span translate>Cansel</span></button>
    </div>
  </div>

</div>
