
<div class="newform">
  <fieldset class="form">

  <legend translate>New Group</legend>

  <div class="row">
    <div class="small-4 columns">
      <label translate>Name :</label>
      <input  id="new_name" type="text" class="">
      <small></small>
    </div>
  </div>

  <div class="row">
    <label for="permissions" translate>Permissions</label>

    <div class="small-10 columns permissions">

      <div class="row">
        <div id="permissions" class="small-8 columns field">
          <ul>

              <li ng-repeat="permission in permissions" id="{{permission.name}}" class="{{permission.is_selected:selected}}" eng-click="select_permission" <i class=":fa :fa-check {{permission.is_selected:green-text:hide}}"></i> {{ permission.string }} </li>

          </ul>
        </div>
      </div>
    </div>
  </div>
  </fieldset>


  <div class="row">
      <div class="small-6 columns">
        <button class="btn small green"><i class="fa fa-check"></i> <span translate>Save</span></button>
        <button class="btn small red"><i class="fa fa-times"></i><span translate>Cansel</span></button>
      </div>
  </div>
</div>
